.selection-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-div {
  margin: 30px;
  padding: 20px;
}

.graph-title {
  text-align: center;
  padding-top: 7px;
}

.graph-paper {
  margin: 50px;
  min-height: 500px;
  padding: 50px;
}

.full-content-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.graph-div {
  width: 70%;
}

.desc-div {
  width: 30%;
}

.date-picker-custom-class {
  border: none;
  height: 45px;
  border-bottom: solid;
  border-width: 1px;
  width: 100%;
}

.date-picker-form-div {
  margin-right: 10px !important;
}

.app-title {
  text-align: center;
}

@media only screen and (max-width: 800px)  {
  .full-content-div {
    flex-direction: column;
  }

  .graph-div {
    width: 100%;
  }
  
  .desc-div {
    width: 100%;
  }

  .div-reverse {
    flex-direction: column-reverse !important;
  }
}